.topBar {
  background-color: #668cff;
  padding-left: 0;
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: column;
  line-height: 0;
}

h1 {
  color: whitesmoke;
  justify-content: center;
}

.subheading {
  color: whitesmoke;
  justify-content: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 50px;
}

.visible {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
